<div cdkDropListGroup class="board">

  <div class="column" *ngFor="let column of columns">

    <div class="column-header">
      <h3>{{ column.title }}</h3>
      <span class="count">{{ column.tasks.length }}</span>
    </div>

    <div
      class="dropzone"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="onDrop($event, column)">

    <div
  class="card"
  *ngFor="let c of column.tasks"
  cdkDrag
  [cdkDragData]="c">

  <!-- AVATAR -->
  <div class="avatar">
    {{ c.first_name[0] }}{{ c.last_name[0] }}
  </div>

  <div class="info">

    <!-- NAME -->
    <div class="name">
      {{ c.first_name }} {{ c.last_name }}
    </div>

    <!-- EMAIL -->
    <div class="email">
      {{ c.email }}
    </div>

    <!-- AGE -->
    <div class="meta">
      Age: {{ c.age ?? '-' }}
    </div>

    <!-- EXPERIENCE -->
    <div class="meta">
      Experience:
      <span class="badge"
            [ngClass]="c.experience ? 'exp-yes' : 'exp-no'">
        {{ c.experience ? 'Yes' : 'No' }}
      </span>
    </div>

    <!-- BIO -->
    <div class="bio" *ngIf="c.bio">
      {{ c.bio }}
    </div>

  </div>

</div>

      <div class="empty" *ngIf="column.tasks.length === 0">
        No users in this column
      </div>

    </div>
  </div>

</div>
