# Configuration de la base de données locale (ou redirection Ngrok)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=aeroserve

# Clé API pour le modèle d'intelligence artificielle Llama 3.3
GROQ_API_KEY=votre_cle_api_groq_ici
